---
apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: Service
  metadata:
    name: etcd
  spec:
    ports:
    - name: client
      port: 2379
      protocol: TCP
      targetPort: 2379
    - name: server
      port: 2380
      protocol: TCP
      targetPort: 2380
    - name: etcd-4001
      port: 4001
      protocol: TCP
      targetPort: 4001
    - name: etcd-7001
      port: 7001
      protocol: TCP
      targetPort: 7001    
    selector:
      name: etcd 
    sessionAffinity: None
    type: ClusterIP

- apiVersion: apps/v1beta1
  kind: StatefulSet
  metadata:
    name: etcd
  spec:
    serviceName: etcd
    replicas: 1
    template:
      metadata:
        labels:
          name: etcd
      spec:
        containers:
          - name: etcd
            image: quay.io/coreos/etcd:latest 
            env:
              - name: ETCD_IP
                valueFrom:
                  fieldRef:
                    fieldPath: status.podIP
            command: ["/bin/sh","-c"]
            args: ["/usr/local/bin/etcd --name=postgresql --data-dir=/var/etcd/data --advertise-client-urls=http://$ETCD_IP:6666 --listen-client-urls=http://0.0.0.0:6666 --listen-peer-urls=http://0.0.0.0:6667"]
            volumeMounts:
              - name: var-etcd
                mountPath: /var/etcd
            ports:
            - containerPort: 2379
              name: client
              protocol: TCP
            - containerPort: 2380
              name: server
              protocol: TCP
            - containerPort: 4001
              name: etcd-4001
              protocol: TCP
            - containerPort: 7001
              name: etcd-7001
              protocol: TCP      
    volumeClaimTemplates:
      - metadata:
          name: var-etcd
          annotations: {}
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 1Gi
