---
apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: Service
  metadata:
    name: {{ etcd_name }}
  spec:
    ports:
    - name: client
      port: 2379
      protocol: TCP
      targetPort: 2379
    - name: server
      port: 2380
      protocol: TCP
      targetPort: 2380
    selector:
      name: {{ etcd_name }}
    sessionAffinity: None
    type: ClusterIP
- apiVersion: apps/v1beta1
  kind: StatefulSet
  metadata:
    name: {{ etcd_name }}
  spec:
    serviceName: {{ etcd_name }}
    replicas: {{ etcd_replicas }}
    template:
      metadata:
        labels:
          name: {{ etcd_name }}
      spec:
        containers:
          - name: {{ etcd_name }}
            image: docker.io/jcpowermac/etcd3:latest
            env:
              - name: ETCD_DATA_DIR
                value: "{{ etcd_data_dir }}"
              - name: ETCD_NAME
                value: "{{ etcd_name }}"
              - name: ETCD_INITIAL_CLUSTER
                value: "{{ etcd_initial_cluster[:-1] }}"
              - name: ETCD_INITIAL_ADVERTISE_PEER_URLS
                value: "{{ etcd_initial_advertise_peer_url }}"
              - name: ETCD_ADVERTISE_PEER_URLS
                value: "{{ etcd_advertise_peer_url }}"
              - name: ETCD_LISTEN_PEER_URLS
                value: "http://0.0.0.0:2380"
              - name: ETCD_LISTEN_CLIENT_URLS
                value: "http://0.0.0.0:2379"
            volumeMounts:
              - name: etcd-data
                mountPath: "{{ etcd_data_dir }}"
            ports:
            - containerPort: 2379
              name: client
              protocol: TCP
            - containerPort: 2380
              name: server
              protocol: TCP
    volumeClaimTemplates:
      - metadata:
          name: etcd-data
          annotations: {}
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 1Gi
