scope: postgresha 
name: {{ ansible_hostname }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_default_ipv4.address }}:8008
etcd:
    host: {{ ansible_env.ETCD_SERVICE_URL }}
bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        archive_mode: "on"
        archive_timeout: 1800s
        wal_level: hot_standby
        wal_keep_segments: 8
        wal_log_hints: 'on'
        max_wal_senders: 5
        max_replication_slots: 5
        hot_standby: 'on'
        tcp_keepalives_idle: 900
        tcp_keepalives_interval: 100
        log_line_prefix: '%t [%p]: [%l-1] %c %x %d %u %a %h '
        log_checkpoints: 'on'
        log_lock_waits: 'on'
        log_min_duration_statement: 500
        log_autovacuum_min_duration: 0
        log_connections: 'on'
        log_disconnections: 'on'
        log_statement: 'ddl'
        log_temp_files: 0
        shared_preload_libraries: pg_stat_statements
        track_functions: all
        checkpoint_completion_target: 0.9
        autovacuum_max_workers: 5
        autovacuum_vacuum_scale_factor: 0.05
        autovacuum_analyze_scale_factor: 0.02
  post_init: /usr/bin/init.py
  initdb: 
  - encoding: UTF8
  - locale: en_US.UTF-8
  - data-checksums
  pg_hba: 
  - host replication {{ ansible_env.POSTGRESQL_REP_USER }} 0.0.0.0/0 md5
  - host all all 0.0.0.0/0 md5
  users:
    admin:
      password: {{ ansible_env.POSTGRESQL_ADMIN_PASSWORD }} 
      options:
        - createrole
        - createdb
    {{ ansible_env.POSTGRESQL_USER }}:
      password: {{ ansible_env.POSTGRESQL_PASSWORD }}
postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ ansible_default_ipv4.address }}:5432
  data_dir: /var/lib/pgsql/pgdata/pgroot/data
  bin_dir: /opt/rh/rh-postgresql95/root/usr/bin
  pgpass: /tmp/pgpass0
  callbacks:
    on_start: /usr/bin/callback.py 
    on_stop:  /usr/bin/callback.py
    on_restart: /usr/bin/callback.py
    on_role_change: /usr/bin/callback.py
  authentication:
    replication:
      username: {{ ansible_env.POSTGRESQL_REP_USER }}
      password: {{ ansible_env.POSTGRESQL_REP_PASSWORD }}
    superuser:
      username: postgres
      password: {{ ansible_env.POSTGRESQL_POSTGRES_PASSWORD }}
  parameters:
    logging_collector: 'on'
    log_destination: csvlog
    log_directory: ../pg_log
    log_filename: 'postgresql-%u.log'
    log_file_mode: '0644'
    log_rotation_age: '1d'
    log_truncate_on_rotation: 'on'
